<div class="page-fixed-header">
  <div class="container">
    <h1 class="heading-1 text-align-center mb-4">Inventory</h1>
    <p class="mb-3">
      Minimize needless exposure to the outside world and other NPC's by keeping track of your home inventory and keeping it stocked up.
      Know EXACTLY what is running out and needs refilling. No more lollygagging in grocery stores, nor grabbing junk items.
    </p>
    <p class="mb-3">
      The point is to to never be in a situation, where you realize you're on your last vial of health potion (or roll of toilet paper),
      or worse, out of coffee. Set a safe minimum quantity for each item. When it falls below, it will automatically be added to your
      procurement list (shopping list). It will keep updating based on your inventory. During or after your procurement quest, you can
      check the list's items, or update the inventory directly, whatever works for you.
    </p>
    <p class="mb-3">
      This is no magic, there is no fairies or goblins watching your stuff, you must update the quantities yourself... Otherwise this
      is completely useless.
    </p>
  </div>
</div>
