@import "~comrade-styles/scss/comrade";

@import "pages/categories-page";

body {
  background-color: $black;
  color: $grey-0;
}

.app {
  &__container {
    min-height: 100vh;
    position: relative;
  }
}
