<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="row">
  <% @categories.each do |category| %>
    <div class="col-3">
      <h3><%= category.name %></h3>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Category', new_category_path %>
